{% extends 'base.html' %}

{%  block title %}
    Create message
{% endblock %}

{%  block content_title %}
    Create message
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="form-group shadow-textarea">
            <textarea class="form-control z-depth-1" name="text" value="" id="FormControlTextarea6" rows="3"
                      placeholder="Write something here..."></textarea>
        </div>
            <div class="form-row">
                <div class="col-9">
                    <button class="btn btn-primary btn-img btn-w"
                            type="submit">Create
                    </button>
                </div>
                <div class="col-3">
                    All active messages: {{ count_messages }}
                </div>
            </div>
    </form>
{% endblock %}
