{% extends 'base.html' %}

{%  block title %}
    Messages
{% endblock %}

{%  block content_title %}
    Messages
{% endblock %}

{% block content %}
    <table class="table table-hover table-image " style="text-align: left;">
        <thead>
        <tr style="background-color: #24272C; color: #f0f0f0">
            <th class="m-b-11" scope="col">Stats</th>
            {% if current_user.is_authenticated %}
            <th  class="m-b-1" scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in content.messages %}
            <tr>
                <td>
                    <p>ID: {{ item.id }}</p>
                    <textarea class="form-control z-depth-1" name="text" disabled id="FormControlTextarea" rows="3"
                      placeholder="Write something here...">{{ item.value }}</textarea>
                </td>
                {% if current_user.is_authenticated %}
                <td>
                    <form action="" method="post">
                        <p>
                            <button name="delete" value="{{ item.id }}"
                                    class="btn btn-danger btn-img btn-table__img"
                                    type="submit">Delete
                            </button>
                        </p>
                    </form>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
