{% extends 'base.html' %}

{%  block title %}
    About
{% endblock %}

{%  block content_title %}
    About me
{% endblock %}

{%  block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, I am Dmitry Tsvetkov!</h1>
    <p class="lead">Back-end Developer.</p>
    <hr class="my-4">
    <p>
        <b>Languages:</b> JavaScript, Python, PHP.<br>
        <b>Frameworks:</b> ExpressJS, Koa, Flask, Django, Laravel.<br>
        <b>DB:</b> MySQL, PostgreSQL, MongoDB, SQLite.<br>
        <b>Tools:</b> Redis, Docker, Nginx.<br>
        <b>Instruments:</b> Git, PHPStorm, PyCharm, Postman.<br>
        <b>Operating System:</b> Ubuntu, Linux<br>
    </p>

    <hr class="my-4">
    <p class="lead"><b>Contacts:</b></p>
    <p>
        <b>Email:</b> dmitrijcve@yandex.ru<br>
        <b>Telegram:</b> <a href="https://t.me/TsvetkovDmitry" role="button">@TsvetkovDmitry</a><br>
        <b>Phone:</b> 8 (903) 881-03-64<br>
    </p>

    <a class="btn btn-primary btn-lg" href="https://career.habr.com/dmitrytsvetkov" role="button">Resume Habr</a>
    <a class="btn btn-primary btn-lg" href="https://orel.hh.ru/resume/f9b29524ff078e782e0039ed1f675139567868" role="button">Resume HH.ru</a>

</div>
{% endblock %}