<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<script>
    $(document).ready(function () {
        $.ajax({
                method: "GET",
                url: "/api/info/",
                success: function(response) {
                    if(jQuery.parseJSON(response)){
                        $('#register').remove()
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
    })
</script>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('messages.show') }}">Messages<span class="sr-only">(current)</span></a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('messages.create') }}">Create Message<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About<span class="sr-only">(current)</span></a>
                </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}login">Login</a>
            </li>
                {% if not is_one_user %}
                <li class="nav-item" id="register">
                    <a class="nav-link" href="{{ url_for('index') }}register">Register</a>
                </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('index') }}logout">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>
        {% block content_title %}
        {% endblock %}
    </h1>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>