{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
    <div class="row col-md-offset-2 col-md-8">
        <div class="col-12">
            <div class="list-group" id="list-tab" role="tablist">
                {% if not current_user.is_authenticated %}
                    <a class="list-group-item list-group-item-action" href="{{ url_for('index') }}login">Login</a>
                    {% if not is_one_user %}
                        <a class="list-group-item list-group-item-action" href="{{ url_for('index') }}register">Registration</a>
                    {% endif %}
                {% endif %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('messages.show') }}">Messages</a>
                {% if current_user.is_authenticated %}
                    <a class="list-group-item list-group-item-action" href="{{ url_for('messages.create') }}">Create message</a>
                {% endif %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('about') }}">About</a>
            </div>
        </div>
    </div>
{% endblock %}