{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content_title %}
    <div class="col-md-offset-2 col-md-8">
        {{ _('Register') }}
    </div>
{% endblock %}

{% block content %}
    <script>
    $(document).ready(function () {
        $.ajax({
                method: "GET",
                url: "/api/info/",
                success: function(response) {
                    if(jQuery.parseJSON(response)){
                        window.location.href = 'user_limit.html'
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
    })
</script>
    <div class="col-md-offset-2 col-md-8">
        {% from "security/_macros.html" import render_field_with_errors, render_field %}
        {% include "security/_messages.html" %}
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}
            {{ render_field_with_errors(register_user_form.email, class='form-control') }}
            {{ render_field_with_errors(register_user_form.password, class='form-control') }}
            {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm, class='form-control') }}
            {% endif %}
            {{ render_field(register_user_form.submit, class='btn btn-primary') }}
        </form>
    </div>
{% endblock %}
